.pillars-section {
  padding: 90px;
}

.pillars-prehead {
  color: rgb(105, 100, 100);
  margin-bottom: 25px;
}

.pillars-headsection {
  font-size: 2em;
  margin: 10px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pillars-head {
  font-style: italic;
  
  background: linear-gradient(289.5deg, #F1CA72 27.25%, #D96E6C 92.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
}
.pillars-tag {
  color: rgb(108, 104, 104);
}

.pillars-navigation-icons {
  display: flex;
  gap: 15px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border: 1px solid #C6C6C6; /* Border color */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.icon-wrapper:hover {
  background-color: #E7E7E7;
  border-color: #C6C6C6;
}

.pillars-icon {
  transition: color 0.3s;
}



.pillars-navigation {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.pillars-navigation button {
  padding: 9px 9px 9px 9px;

  border-color: #C6C6C6;
  border-width: 1px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
}

.pillars-navigation button:hover {
  background-color: #060606;
  color: white;
}

.pillars-cards {
  overflow: hidden;
  padding: 10px;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
}

.pillars-slide {
  display: flex;
  gap: 20px;
  width: calc(240%);
  animation: slide 35s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.pillars-cards:hover .pillars-slide {
  animation-play-state: paused;
}
