/* hide the scrollbar */
@media (max-width: 768px) {
    /* Mobile-specific styles */
    .home {
      display: none;
    }
    .mob-home {
      display: flex;
      flex-direction: column;
    width: 100%;
      height: 100%;
    }
  }
  
.home{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.tilted-strip {
    width: 400px;
    height: 35px;
    /*Adjustheightasneeded*/background: linear-gradient(to right, #ffbc70, #ff7061);
    /*Gradientcolors*/transform: rotate(-1deg);
    /*Adjustangleoftilt*/position: relative;
    top: -22px;
    /*Adjusttoppositionasneeded*/z-index: 1;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
}
  
.mobile-tilted-strip {
  width: 100%;
  height: 35px;
  /*Adjustheightasneeded*/background: linear-gradient(to right, #ffbc70, #ff7061);
  /*Gradientcolors*/transform: rotate(-1deg);
  /*Adjustangleoftilt*/position: absolute;
  top: 33%;

;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
}

.mob-home{
    background-color: #ffffff;
}